.main .section {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1060px;
  margin: 0 auto; }
  .main .section .sidebar {
    width: 148px;
    margin-bottom: 60px; }
    .main .section .sidebar .cell .item {
      display: inline-block;
      width: 100%;
      height: 34px;
      font-size: 14px;
      color: #666666;
      padding-left: 34px; }
      .main .section .sidebar .cell .item:hover, .main .section .sidebar .cell .item.active {
        color: #ca0f1c;
        cursor: pointer; }
      .main .section .sidebar .cell .item.title {
        position: relative;
        font-size: 14px;
        color: #333333;
        font-weight: bold; }
        .main .section .sidebar .cell .item.title i {
          position: absolute;
          left: 4px;
          top: -2px;
          font-size: 24px;
          float: left; }
  .main .section .content {
    width: 874px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    background: #fff;
    padding: 0 14px;
    margin-bottom: 50px; }
    .main .section .content .cell {
      width: 100%; }
      .main .section .content .cell .zhifu {
        box-sizing: border-box;
        border: 1px solid #e9e9e9;
        margin-bottom: 45px; }
        .main .section .content .cell .zhifu .cards1 {
          margin: 15px 0 30px 0;
          display: flex;
          justify-content: center;
          align-items: center; }
          .main .section .content .cell .zhifu .cards1 .cont {
            box-sizing: border-box;
            border: 1px solid #d0d0d0;
            width: 146px;
            height: 52px;
            margin: 5px; }
            .main .section .content .cell .zhifu .cards1 .cont.active, .main .section .content .cell .zhifu .cards1 .cont:hover {
              background: url("../img/sjx.png") no-repeat 0 0/100% 100%;
              cursor: pointer; }
        .main .section .content .cell .zhifu .cards2 {
          margin: 15px 0 30px 0;
          display: flex;
          justify-content: center;
          align-items: center; }
          .main .section .content .cell .zhifu .cards2 .card {
            box-sizing: border-box;
            border: 1px solid #e9e9e9;
            width: 340px;
            height: 148px;
            border-radius: 10px;
            margin: 0 10px;
            overflow: hidden; }
            .main .section .content .cell .zhifu .cards2 .card .header {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding-left: 12px;
              font-size: 16px;
              color: white;
              font-weight: bold;
              margin-bottom: 0;
              border: none; }
              .main .section .content .cell .zhifu .cards2 .card .header.gongshang {
                background: linear-gradient(to right, #e12971, #fe5133); }
              .main .section .content .cell .zhifu .cards2 .card .header.jianshe {
                background: linear-gradient(to right, #0558ff, #3898fc); }
            .main .section .content .cell .zhifu .cards2 .card .info {
              padding: 12px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-start; }
              .main .section .content .cell .zhifu .cards2 .card .info p {
                font-size: 14px;
                color: #666666;
                margin-bottom: 4px; }
                .main .section .content .cell .zhifu .cards2 .card .info p span {
                  font-size: 14px;
                  color: #333333; }
          .main .section .content .cell .zhifu .cards2 .ewm {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #999999; }
            .main .section .content .cell .zhifu .cards2 .ewm .cont {
              width: 150px;
              height: 150px;
              box-sizing: border-box;
              border: 1px solid #e9e9e9;
              font-size: 14px;
              color: #999999;
              margin-bottom: 8px;
              display: flex;
              justify-content: center;
              align-items: center; }
              .main .section .content .cell .zhifu .cards2 .ewm .cont img {
                width: 136px;
                height: 136px;
                border: none; }
        .main .section .content .cell .zhifu .form .line {
          display: flex;
          justify-content: center;
          align-content: center; }
          .main .section .content .cell .zhifu .form .line .title {
            width: 100px; }
            .main .section .content .cell .zhifu .form .line .title i {
              color: #ff4c73; }
          .main .section .content .cell .zhifu .form .line input {
            width: 340px;
            height: 42px;
            box-sizing: border-box;
            border: 1px solid #e9e9e9;
            padding-left: 10px;
            font-size: 14px;
            color: #999999; }
        .main .section .content .cell .zhifu .form button {
          margin: 15px auto 22px;
          width: 140px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #ca0f1c;
          color: #fff;
          border-radius: 3px;
          font-size: 16px; }
      .main .section .content .cell .tixian {
        box-sizing: border-box;
        margin-bottom: 45px; }
        .main .section .content .cell .tixian .form .line {
          display: flex;
          justify-content: flex-start;
          align-content: center;
          align-items: center; }
          .main .section .content .cell .tixian .form .line label {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 14px; }
            .main .section .content .cell .tixian .form .line label .radio {
              width: 14px;
              height: 14px;
              margin-right: 12px; }
          .main .section .content .cell .tixian .form .line .title {
            width: 260px;
            padding-right: 10px;
            text-align: right; }
            .main .section .content .cell .tixian .form .line .title i {
              color: #ff4c73; }
          .main .section .content .cell .tixian .form .line input {
            width: 340px;
            height: 42px;
            box-sizing: border-box;
            border: 1px solid #e9e9e9;
            padding-left: 10px;
            font-size: 14px;
            color: #999999;
            margin-right: 120px; }
          .main .section .content .cell .tixian .form .line select {
            width: 340px;
            height: 42px;
            box-sizing: border-box;
            border: 1px solid #e9e9e9;
            padding-left: 10px;
            font-size: 14px;
            color: #999999;
            margin-right: 120px; }
          .main .section .content .cell .tixian .form .line.center {
            justify-content: center; }
          .main .section .content .cell .tixian .form .line.khh label {
            margin: 0; }
            .main .section .content .cell .tixian .form .line.khh label input, .main .section .content .cell .tixian .form .line.khh label select {
              width: 126px;
              margin: 0; }
            .main .section .content .cell .tixian .form .line.khh label span {
              margin: 0 5px; }
        .main .section .content .cell .tixian .form button {
          margin: 20px auto 22px;
          width: 140px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #ca0f1c;
          color: #fff;
          border-radius: 3px;
          font-size: 16px; }
      .main .section .content .cell .qianbao {
        height: 98px;
        background: #f2f2f2;
        border: 1px dotted #e9e9e9;
        display: flex;
        justify-content: center;
        align-items: center; }
        .main .section .content .cell .qianbao .item {
          height: 54px;
          flex-grow: 1;
          border-right: 1px solid #e9e9e9;
          display: flex;
          justify-content: center;
          align-items: center; }
          .main .section .content .cell .qianbao .item:last-of-type(1) {
            border: none; }
          .main .section .content .cell .qianbao .item.row {
            flex-direction: row; }
          .main .section .content .cell .qianbao .item.column {
            flex-direction: column; }
          .main .section .content .cell .qianbao .item .price {
            font-size: 22px;
            color: #999999; }
            .main .section .content .cell .qianbao .item .price.r {
              color: #ca0f1c; }
          .main .section .content .cell .qianbao .item .title {
            font-size: 14px;
            color: #333333; }
          .main .section .content .cell .qianbao .item button {
            width: 65px;
            height: 29px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            font-size: 14px;
            color: white;
            background: #ca0f1c;
            margin: 5px; }
      .main .section .content .cell .header {
        height: 58px;
        box-sizing: border-box;
        border-bottom: 1px dotted #d5d5d5;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 15px;
        color: #333333;
        font-weight: bold;
        margin-bottom: 14px; }
        .main .section .content .cell .header i {
          width: 4px;
          height: 15px;
          margin-right: 8px;
          background: #ca0f1c; }
      .main .section .content .cell .line {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        margin-bottom: 14px; }
        .main .section .content .cell .line .item {
          width: 260px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          align-content: center; }
          .main .section .content .cell .line .item .title {
            width: 92px;
            margin-left: 28px;
            margin-right: 12px;
            font-size: 14px;
            color: #999999; }
          .main .section .content .cell .line .item .value {
            font-size: 14px;
            color: #333333; }
            .main .section .content .cell .line .item .value.r {
              color: #ca0f1c; }
            .main .section .content .cell .line .item .value img {
              width: 67px;
              height: 49px; }
      .main .section .content .cell .zhifujilu {
        width: 846px;
        margin: 20px auto 40px; }
        .main .section .content .cell .zhifujilu .form {
          width: 100%;
          height: 128px;
          background: #f2f2f2;
          box-sizing: border-box;
          border: 1px solid #e9e9e9;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-bottom: 10px; }
          .main .section .content .cell .zhifujilu .form .line {
            height: 42px;
            width: 100%;
            margin: 5px 0;
            display: flex;
            justify-content: flex-start;
            align-items: center; }
            .main .section .content .cell .zhifujilu .form .line label {
              height: 100%;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              font-size: 14px;
              color: #999999;
              margin: 0 20px; }
              .main .section .content .cell .zhifujilu .form .line label:nth-child(1) span {
                width: 80px;
                text-align: right; }
              .main .section .content .cell .zhifujilu .form .line label span {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center; }
              .main .section .content .cell .zhifujilu .form .line label input {
                padding: 0 8px;
                width: 150px;
                height: 100%;
                box-sizing: border-box;
                border: 1px solid #e9e9e9;
                background: #fff;
                color: #999999; }
              .main .section .content .cell .zhifujilu .form .line label select {
                padding: 0 8px;
                width: 166px;
                height: 100%;
                box-sizing: border-box;
                border: 1px solid #e9e9e9;
                background: #fff;
                color: #999999; }
            .main .section .content .cell .zhifujilu .form .line button {
              height: 100%;
              width: 110px;
              border-radius: 3px;
              background: #ca0f1c;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              font-size: 16px; }
        .main .section .content .cell .zhifujilu .cont {
          width: 100%;
          box-sizing: border-box;
          border: 1px solid #e9e9e9;
          padding: 10px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          .main .section .content .cell .zhifujilu .cont .header {
            width: 830px;
            height: 39px;
            margin-bottom: 2px;
            border: none; }
            .main .section .content .cell .zhifujilu .cont .header .item {
              width: 110px;
              height: 100%;
              box-sizing: border-box;
              border-bottom: 2px solid transparent;
              font-size: 14px;
              font-weight: normal;
              color: #333333;
              display: flex;
              justify-content: center;
              align-items: center; }
              .main .section .content .cell .zhifujilu .cont .header .item.active, .main .section .content .cell .zhifujilu .cont .header .item:hover {
                cursor: pointer;
                color: #ca0f1c;
                border-bottom: 2px solid #ca0f1c; }
          .main .section .content .cell .zhifujilu .cont table {
            font-size: 12px;
            color: #666666;
            width: 830px;
            border: none; }
            .main .section .content .cell .zhifujilu .cont table tr {
              height: 30px; }
              .main .section .content .cell .zhifujilu .cont table tr th {
                border: none; }
              .main .section .content .cell .zhifujilu .cont table tr td {
                border: none; }
                .main .section .content .cell .zhifujilu .cont table tr td img {
                  margin: 4px 0;
                  width: 67px;
                  height: 49px; }
                .main .section .content .cell .zhifujilu .cont table tr td.gray {
                  color: #999999; }
        .main .section .content .cell .zhifujilu .fenye {
          width: 100%;
          height: 123px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .main .section .content .cell .zhifujilu .fenye .rect {
            width: 38px;
            height: 38px;
            box-sizing: border-box;
            border: 1px solid #e9e9e9;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: #999999;
            margin: 3.5px; }
            .main .section .content .cell .zhifujilu .fenye .rect:hover, .main .section .content .cell .zhifujilu .fenye .rect.active {
              background: #ca0f1c;
              color: #fff;
              cursor: pointer; }
      .main .section .content .cell table {
        width: 100%;
        border: 1px solid #e9e9e9;
        margin-bottom: 35px;
        border-collapse: collapse; }
        .main .section .content .cell table.lishijilu tr td {
          width: 25%; }
        .main .section .content .cell table tr {
          height: 33px; }
          .main .section .content .cell table tr:hover {
            cursor: pointer;
            background: rgba(233, 233, 233, 0.5); }
          .main .section .content .cell table tr th {
            background: #e9e9e9; }
          .main .section .content .cell table tr td {
            text-align: center;
            border: 1px solid #e9e9e9; }
            .main .section .content .cell table tr td.b {
              color: #167fd0; }
            .main .section .content .cell table tr td.r {
              color: #ca0f1c; }
            .main .section .content .cell table tr td.g {
              color: #12922a; }
      .main .section .content .cell .gerenziliao {
        width: 846px;
        margin: 20px auto 40px; }
        .main .section .content .cell .gerenziliao .line {
          height: 34px; }
          .main .section .content .cell .gerenziliao .line.idcard {
            height: 172px; }
          .main .section .content .cell .gerenziliao .line .title {
            text-align: right;
            width: 122px;
            font-size: 15px;
            color: #999999; }
          .main .section .content .cell .gerenziliao .line .val {
            margin-left: 16px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 14px;
            color: #333333; }
            .main .section .content .cell .gerenziliao .line .val.r {
              color: #ca0f1c; }
            .main .section .content .cell .gerenziliao .line .val .cont {
              width: 264px;
              height: 172px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              margin-left: 2px;
              background: #f3f4f6;
              margin-right: 20px; }
              .main .section .content .cell .gerenziliao .line .val .cont i {
                font-size: 92px;
                color: #eaeaea; }
              .main .section .content .cell .gerenziliao .line .val .cont button {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #4c94d7;
                font-size: 14px;
                color: white;
                border-radius: 3px;
                width: 88px;
                height: 28px; }
              .main .section .content .cell .gerenziliao .line .val .cont img {
                width: 264px;
                height: 172px; }
            .main .section .content .cell .gerenziliao .line .val button {
              width: 62px;
              height: 23px;
              border-radius: 3px;
              background: #ca0f1c;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              font-size: 12px;
              margin: 0 18px; }
          .main .section .content .cell .gerenziliao .line.juzhudi {
            flex-wrap: wrap;
            height: 95px;
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start; }
            .main .section .content .cell .gerenziliao .line.juzhudi .cont {
              width: 640px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-wrap: wrap; }
              .main .section .content .cell .gerenziliao .line.juzhudi .cont input, .main .section .content .cell .gerenziliao .line.juzhudi .cont select {
                margin-bottom: 10px;
                height: 40px;
                padding-left: 8px;
                margin-left: 16px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 14px;
                color: #333333;
                box-sizing: border-box;
                border: 1px solid #e9e9e9;
                background: #fff; }
                .main .section .content .cell .gerenziliao .line.juzhudi .cont input.short, .main .section .content .cell .gerenziliao .line.juzhudi .cont select.short {
                  width: 300px; }
                .main .section .content .cell .gerenziliao .line.juzhudi .cont input.mid, .main .section .content .cell .gerenziliao .line.juzhudi .cont select.mid {
                  width: 464px; }
                .main .section .content .cell .gerenziliao .line.juzhudi .cont input.long, .main .section .content .cell .gerenziliao .line.juzhudi .cont select.long {
                  width: 620px; }
          .main .section .content .cell .gerenziliao .line input, .main .section .content .cell .gerenziliao .line select {
            height: 40px;
            padding-left: 8px;
            margin-left: 16px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 14px;
            color: #333333;
            box-sizing: border-box;
            border: 1px solid #e9e9e9;
            background: #fff; }
            .main .section .content .cell .gerenziliao .line input.short, .main .section .content .cell .gerenziliao .line select.short {
              width: 300px; }
            .main .section .content .cell .gerenziliao .line input.mid, .main .section .content .cell .gerenziliao .line select.mid {
              width: 464px; }
            .main .section .content .cell .gerenziliao .line input.long, .main .section .content .cell .gerenziliao .line select.long {
              width: 620px; }
        .main .section .content .cell .gerenziliao button {
          margin: 30px auto;
          width: 140px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 48px;
          font-size: 16px;
          background: #ca0f1c;
          border-radius: 4px;
          color: white; }
      .main .section .content .cell .article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .main .section .content .cell .article .title {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 110px; }
          .main .section .content .cell .article .title h2 {
            font-size: 22px;
            color: #333333;
            margin-bottom: 5px;
            font-weight: normal; }
          .main .section .content .cell .article .title span {
            font-size: 12px;
            color: #999999; }
        .main .section .content .cell .article .ques {
          width: 100;
          padding: 0 34px;
          margin-bottom: 25px; }
          .main .section .content .cell .article .ques p {
            margin-bottom: 8px;
            line-height: 1.5; }
          .main .section .content .cell .article .ques .res {
            font-size: 14px;
            color: #333333;
            font-weight: bold; }
          .main .section .content .cell .article .ques .ans {
            font-size: 14px;
            color: #666666; }

/*# sourceMappingURL=gerenzhongxin.css.map */
