@charset "UTF-8";
body {
  background: #fafafa; }

.header .topbar {
  height: 80px;
  background: #fafafa; }
  .header .topbar .cont {
    margin: 0 auto;
    width: 1060px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .topbar .cont .logo {
      background: url("../img/i_logo.png") no-repeat 0 0/100% 100%;
      width: 123px;
      height: 46px; }
    .header .topbar .cont .infos {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px; }
      .header .topbar .cont .infos .phone {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 42px;
        font-size: 12px;
        font-family: "Microsoft YaHei";
        color: #666666; }
        .header .topbar .cont .infos .phone b {
          font-size: 24px;
          font-family: "HiraginoSansGB";
          color: #ff0d1e; }
      .header .topbar .cont .infos .item {
        margin-right: 20px;
        font-size: 12px;
        color: #ff0d1e; }
      .header .topbar .cont .infos .reg {
        font-size: 12px;
        color: #666666;
        width: 72px;
        display: flex;
        justify-content: space-between; }
.header .tabbar {
  height: 45px;
  background: #db000f; }
  .header .tabbar .cont {
    margin: 0 auto;
    width: 1060px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .tabbar .cont .item {
      height: 100%;
      font-size: 16px;
      font-family: "Microsoft YaHei";
      color: white;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header .tabbar .cont .item.active, .header .tabbar .cont .item:hover {
        cursor: pointer;
        background: #333333; }

.main .lunbo {
  height: 593px;
  background: url("../img/banner.jpg") no-repeat 0 0/100% 100%; }
.main .section1 {
  width: 1060px;
  margin: 90px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .main .section1 .content {
    width: 790px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .main .section1 .content .title {
      width: 687px;
      height: 61px;
      background: url("../img/zuixin_title.png") no-repeat 0 0/100% 100%;
      margin-bottom: 44px; }
    .main .section1 .content .infos {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      height: 325px; }
      .main .section1 .content .infos .info {
        width: 245px;
        height: 295px;
        box-sizing: border-box;
        border: 1px solid #dbdbdb;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px; }
        .main .section1 .content .infos .info:hover，
        .main .section1 .content .infos .info.active {
          border: 2px solid #ff2635; }
        .main .section1 .content .infos .info:nth-of-type(2) {
          align-self: flex-end; }
        .main .section1 .content .infos .info .foto {
          width: 220px;
          height: 172px;
          background: url("../img/p1.jpg") no-repeat 0 0/100% 100%; }
        .main .section1 .content .infos .info .content {
          width: 220px;
          font-size: 14px;
          color: #333333;
          font-weight: bold;
          text-transform: uppercase; }
        .main .section1 .content .infos .info .date {
          width: 220px;
          font-size: 14px;
          color: #ff0d1e; }
    .main .section1 .content .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 34px;
      height: 37.5px;
      width: 160px;
      border-radius: 18.5px;
      background: #ff0d1e;
      font-size: 14px;
      color: white;
      text-transform: uppercase; }
  .main .section1 .sidebar {
    width: 250px;
    height: 500.5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .main .section1 .sidebar .banner {
      width: 100%;
      padding: 10px;
      background: #fff;
      margin-bottom: 13px; }
      .main .section1 .sidebar .banner .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px; }
        .main .section1 .sidebar .banner .title .name {
          font-size: 16px;
          color: #333333;
          font-weight: bold; }
          .main .section1 .sidebar .banner .title .name i {
            display: inline-block;
            width: 3px;
            height: 15px;
            margin-right: 9px;
            background: #ff0f20; }
        .main .section1 .sidebar .banner .title .more {
          font-size: 12px;
          color: #999999; }
      .main .section1 .sidebar .banner .line {
        white-space: nowrap;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        color: #333333;
        margin-bottom: 14px; }
        .main .section1 .sidebar .banner .line i {
          display: inline-block;
          margin-right: 9px;
          background: #ff0d1e;
          width: 5px;
          height: 5px;
          border-radius: 50%; }
      .main .section1 .sidebar .banner .btns {
        display: flex;
        justify-content: space-around;
        align-content: flex-start;
        align-items: center;
        flex-wrap: wrap; }
        .main .section1 .sidebar .banner .btns .btn {
          width: 106px;
          height: 59px;
          box-sizing: border-box;
          border: 1px solid #d6d6d6;
          background: #eaeaea;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-bottom: 10px;
          font-size: 14px;
          color: #666666; }
          .main .section1 .sidebar .banner .btns .btn i {
            font-size: 24px; }
          .main .section1 .sidebar .banner .btns .btn.active, .main .section1 .sidebar .banner .btns .btn:hover {
            color: #ff0d1e;
            cursor: pointer; }
.main .belt {
  width: 100%;
  height: 219px;
  background: url("../img/tj_bg.jpg") repeat 0 0/100% 100%; }
  .main .belt .cont {
    margin: 0 auto;
    height: 100%;
    width: 1060px;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .main .belt .cont .card {
      margin-right: 62px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 196px;
      height: 139px;
      border-radius: 5px;
      box-sizing: border-box;
      border: 1px solid #fff;
      padding: 13px; }
      .main .belt .cont .card .title {
        font-size: 24px;
        color: white;
        font-weight: bold; }
      .main .belt .cont .card p {
        font-size: 16px;
        color: white; }
      .main .belt .cont .card .btn {
        width: 108px;
        height: 30px;
        box-sizing: border-box;
        border: 1px solid #fff;
        font-size: 12px;
        color: white;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center; }
    .main .belt .cont .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 791px; }
      .main .belt .cont .content .btn {
        width: 57px;
        height: 39px; }
        .main .belt .cont .content .btn:hover {
          cursor: pointer; }
        .main .belt .cont .content .btn.l {
          background: url("../img/tj_left.png") no-repeat 0 0/100% 100%; }
        .main .belt .cont .content .btn.r {
          background: url("../img/tj_right.png") no-repeat 0 0/100% 100%; }
      .main .belt .cont .content .item {
        width: 133px;
        height: 135px;
        color: white;
        background: url("../img/p4.jpg") no-repeat 0 0/100% 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .main .belt .cont .content .item .name {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 5px; }
        .main .belt .cont .content .item .price {
          font-size: 14px; }
          .main .belt .cont .content .item .price span {
            padding: 3px 4px;
            border-radius: 2px;
            background: #ff0d1e; }
.main .section2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1060px;
  margin: 44px auto; }
  .main .section2 .title {
    background: url("../img/chengjiao_title.png") no-repeat 0 0/100% 100%;
    width: 931px;
    height: 65px;
    margin-bottom: 62px; }
  .main .section2 .infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; }
    .main .section2 .infos .info {
      margin-bottom: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 192px;
      width: 516px;
      color: #333333;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4); }
      .main .section2 .infos .info .foto {
        height: 100%;
        width: 266px;
        background: url("../img/p8.jpg") no-repeat 0 0/100% 100%; }
      .main .section2 .infos .info .content {
        box-sizing: border-box;
        height: 100%;
        padding: 16px 20px; }
        .main .section2 .infos .info .content .name {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 20px; }
        .main .section2 .infos .info .content p {
          font-size: 14px;
          text-transform: uppercase;
          margin-bottom: 4px; }
          .main .section2 .infos .info .content p span {
            padding: 2px 4px;
            border-radius: 3px;
            color: #fff; }
            .main .section2 .infos .info .content p span.r {
              background: #ff0d1e; }
            .main .section2 .infos .info .content p span.g {
              background: #5bba22; }
            .main .section2 .infos .info .content p span.price {
              font-size: 20px;
              color: #ff0d1e;
              font-weight: bold;
              text-transform: uppercase; }
  .main .section2 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    height: 37.5px;
    width: 160px;
    border-radius: 18.5px;
    background: #ff0d1e;
    font-size: 14px;
    color: white;
    text-transform: uppercase; }

.footer {
  width: 100%;
  background: #333333;
  color: #999999; }
  .footer .top {
    width: 1060px;
    margin: 0 auto;
    box-sizing: border-box;
    border-top: 1px solid #2c2c2c;
    border-bottom: 1px solid #2c2c2c;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    .footer .top .column {
      padding: 18px 35px 0;
      margin-bottom: 32px; }
      .footer .top .column .title {
        font-size: 12px;
        color: white;
        font-weight: bold;
        margin-bottom: 18px; }
      .footer .top .column p {
        margin-bottom: 6px; }
    .footer .top .ewm {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 30px 0 0 55px; }
      .footer .top .ewm .foto {
        height: 95px;
        width: 95px;
        background: url("../img/ewm.png") no-repeat 0 0/100% 100%; }
      .footer .top .ewm .content {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .footer .top .ewm .content p {
          font-size: 14px;
          color: white;
          margin-bottom: 8px; }
          .footer .top .ewm .content p.r {
            color: #bf1f27; }
  .footer .bottom {
    height: 100px;
    box-sizing: border-box;
    border-top: 1px solid #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer .bottom p {
      margin-bottom: 6px; }

/*# sourceMappingURL=index.css.map */
