body {
  background: #fafafa; }

.belt {
  width: 100%;
  height: 148px;
  background: url("../img/tu_02.jpg") no-repeat 0 0/100% 100%; }

.main {
  margin: 0 auto;
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px; }
  .main .sidebar {
    width: 209px; }
    .main .sidebar .title {
      width: 100%;
      height: 91px;
      background: url("../img/newscenter_title.png") no-repeat 0 0/100% 100%; }
    .main .sidebar .flip.active .panel {
      display: block; }
    .main .sidebar .flip .item {
      border-top: 1px solid #fafafa;
      height: 60px;
      width: 100%;
      background: #dddddd;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .main .sidebar .flip .item .name {
        font-size: 14px;
        color: #333333;
        text-align: center;
        margin-left: 32px; }
      .main .sidebar .flip .item span {
        font-size: 34px;
        color: #c7c7c7;
        margin-right: 12px; }
      .main .sidebar .flip .item.active, .main .sidebar .flip .item:hover {
        background: #a1a1a1;
        cursor: pointer; }
        .main .sidebar .flip .item.active .name, .main .sidebar .flip .item:hover .name {
          color: #fff; }
        .main .sidebar .flip .item.active span, .main .sidebar .flip .item:hover span {
          color: #fff; }
    .main .sidebar .flip .panel {
      display: none; }
      .main .sidebar .flip .panel .element {
        height: 40px;
        width: 100%;
        background: #f8f8f8;
        padding-left: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px; }
        .main .sidebar .flip .panel .element.active, .main .sidebar .flip .panel .element:hover {
          color: #e72331;
          cursor: pointer; }
  .main .content {
    width: 827px; }
    .main .content .top {
      width: 100%;
      height: 27px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start; }
      .main .content .top span {
        font-size: 14px;
        color: #666666; }
    .main .content .infos {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #e9e9e9;
      padding: 0 13px;
      background: #fff;
      margin-bottom: 44px; }
      .main .content .infos .info {
        width: 100%;
        height: 125px;
        border-bottom: 1px dotted #dddddd;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .main .content .infos .info:nth-last-of-type(1) {
          border: none; }
        .main .content .infos .info .date {
          width: 108px;
          height: 91px;
          box-sizing: border-box;
          border: 1px solid #e2e2e2;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-right: 25px;
          flex-shrink: 0; }
          .main .content .infos .info .date .year {
            font-size: 18px;
            color: #a4a3a3;
            margin-bottom: 2px; }
          .main .content .infos .info .date .day {
            font-size: 28px;
            color: #333333;
            font-weight: bold; }
        .main .content .infos .info .cont {
          height: 91px;
          display: flex;
          justify-content: space-around;
          flex-direction: column; }
          .main .content .infos .info .cont .top {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 18px;
            color: #333333; }
            .main .content .infos .info .cont .top:hover {
              cursor: pointer;
              color: #ca0f1c; }
            .main .content .infos .info .cont .top i {
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background: #e72331;
              margin-right: 14px; }
          .main .content .infos .info .cont p {
            font-size: 14px;
            color: #999999; }
      .main .content .infos .fenye {
        width: 100%;
        height: 123px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .main .content .infos .fenye .rect {
          width: 38px;
          height: 38px;
          box-sizing: border-box;
          border: 1px solid #e9e9e9;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          color: #999999;
          margin: 3.5px; }
          .main .content .infos .fenye .rect:hover, .main .content .infos .fenye .rect.active {
            background: #ca0f1c;
            color: #fff;
            cursor: pointer; }

/*# sourceMappingURL=newscenter.css.map */
