.main {
  padding: 16px 0; }
  .main .tanchuang {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3); }
    .main .tanchuang .banner {
      width: 400px;
      height: 240px;
      border: 4px solid rgba(0, 0, 0, 0.4);
      margin: 280px auto 0;
      background: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column; }
      .main .tanchuang .banner .top {
        margin: 0 auto;
        width: 355px;
        height: 64px;
        font-size: 16px;
        color: #333333;
        text-transform: uppercase;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 30px; }
      .main .tanchuang .banner .line {
        height: 42px;
        width: 340px;
        margin: 0 auto;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .main .tanchuang .banner .line input {
          width: 310px;
          height: 100%;
          box-sizing: border-box;
          border: 1px solid #e9e9e9;
          background: #eeeeee;
          padding: 0 10px;
          font-size: 14px;
          color: #999999; }
        .main .tanchuang .banner .line .r {
          color: #ca0f1c; }
        .main .tanchuang .banner .line button {
          width: 155px;
          height: 100%;
          border-radius: 4px;
          box-sizing: border-box;
          border: 1px solid #ca0f1c;
          display: flex;
          justify-content: center;
          align-items: center; }
          .main .tanchuang .banner .line button:hover {
            cursor: pointer; }
          .main .tanchuang .banner .line button.cancel {
            background: #fff;
            color: #ca0f1c; }
          .main .tanchuang .banner .line button.confirm {
            background: #ca0f1c;
            color: #fff; }
  .main .section1 {
    margin: 0 auto 20px;
    width: 1060px;
    padding: 12px 0;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    background: #ffffff; }
    .main .section1 .spaceb {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 20px; }
      .main .section1 .spaceb:nth-last-child(1) {
        margin-bottom: 0; }
      .main .section1 .spaceb .title {
        text-align: right;
        height: 100%;
        margin-left: 18px;
        margin-right: 5px;
        width: 70px;
        font-size: 14px;
        color: #999999;
        flex-shrink: 0; }
      .main .section1 .spaceb .more {
        width: 75px;
        font-size: 12px;
        color: #999999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 15px;
        flex-shrink: 0; }
        .main .section1 .spaceb .more:hover {
          cursor: pointer;
          color: #ca0f1c; }
      .main .section1 .spaceb .cont {
        background: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-grow: 0; }
        .main .section1 .spaceb .cont.compress {
          border: none;
          height: 21px;
          padding: 0;
          overflow: hidden; }
          .main .section1 .spaceb .cont.compress .item {
            margin: 0 6px; }
        .main .section1 .spaceb .cont .item {
          height: 21px;
          padding: 0 6px;
          margin: 0 6px 8px;
          font-size: 13px;
          color: #333333;
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .main .section1 .spaceb .cont .item.active, .main .section1 .spaceb .cont .item:hover {
            cursor: pointer;
            background: #ca0f1c;
            color: #fff; }
        .main .section1 .spaceb .cont .wrap {
          width: 80px;
          height: 28px;
          box-sizing: border-box;
          border: 1px solid #e9e9e9;
          font-size: 12px;
          color: #333333;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 5px;
          padding: 3px; }
          .main .section1 .spaceb .cont .wrap input {
            margin-left: 2px;
            width: 50px;
            height: 100%; }
        .main .section1 .spaceb .cont button {
          width: 53px;
          height: 28px;
          background: #ca0f1c;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff; }
    .main .section1 .line {
      height: 21px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px; }
      .main .section1 .line:nth-last-child(1) {
        margin-bottom: 0; }
      .main .section1 .line .title {
        text-align: right;
        height: 100%;
        margin-left: 18px;
        margin-right: 5px;
        width: 70px;
        font-size: 14px;
        color: #999999; }
      .main .section1 .line .item {
        height: 100%;
        padding: 0 6px;
        margin: 0 6px;
        font-size: 13px;
        color: #333333;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .main .section1 .line .item.active, .main .section1 .line .item:hover {
          cursor: pointer;
          background: #ca0f1c;
          color: #fff; }
      .main .section1 .line .more {
        width: 75px;
        font-size: 12px;
        color: #999999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 15px; }
        .main .section1 .line .more:hover {
          cursor: pointer;
          color: #ca0f1c; }
      .main .section1 .line .wrap {
        width: 80px;
        height: 28px;
        box-sizing: border-box;
        border: 1px solid #e9e9e9;
        font-size: 12px;
        color: #333333;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 5px;
        padding: 3px; }
        .main .section1 .line .wrap input {
          margin-left: 2px;
          width: 50px;
          height: 100%; }
      .main .section1 .line button {
        width: 53px;
        height: 28px;
        background: #ca0f1c;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff; }
  .main .section2 {
    margin: 0 auto 20px;
    width: 1060px;
    padding: 0 16px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    background: #ffffff; }
    .main .section2 .title {
      height: 48px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 16px;
      color: #333333;
      font-weight: bold; }
      .main .section2 .title i {
        margin-right: 6px;
        height: 15px;
        width: 4px;
        background: #ca0f1c; }
    .main .section2 table {
      width: 100%;
      border-collapse: collapse; }
      .main .section2 table tr:hover {
        background: rgba(233, 233, 233, 0.5);
        cursor: pointer; }
      .main .section2 table tr th {
        height: 27px;
        background: #e9e9e9;
        margin-bottom: 10px;
        font-weight: normal; }
        .main .section2 table tr th .r {
          color: #ca0f1c; }
      .main .section2 table tr td {
        height: 49px;
        margin-bottom: 10px;
        text-align: center; }
        .main .section2 table tr td.b {
          color: #167fd0; }
        .main .section2 table tr td.r {
          color: #ca0f1c; }
        .main .section2 table tr td img {
          width: 65px;
          height: 100%; }
  .main .section3 {
    margin: 0 auto 20px;
    width: 1060px;
    padding: 0 16px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    background: #ffffff; }
    .main .section3 .title {
      height: 48px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 16px;
      color: #333333;
      font-weight: bold; }
      .main .section3 .title .item {
        width: 112px;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center; }
        .main .section3 .title .item.active, .main .section3 .title .item:hover {
          cursor: pointer;
          color: #cc1e2a;
          border-bottom: 2px solid #cc1e2a; }
    .main .section3 table {
      width: 100%;
      border-collapse: collapse; }
      .main .section3 table tr:hover {
        background: rgba(233, 233, 233, 0.5);
        cursor: pointer; }
      .main .section3 table tr th {
        height: 27px;
        background: #e9e9e9;
        margin-bottom: 10px;
        font-weight: normal; }
        .main .section3 table tr th .r {
          color: #ca0f1c; }
      .main .section3 table tr td {
        height: 49px;
        margin-bottom: 10px;
        text-align: center; }
        .main .section3 table tr td.b {
          color: #167fd0; }
        .main .section3 table tr td.r {
          color: #ca0f1c; }
        .main .section3 table tr td img {
          width: 65px;
          height: 100%; }
        .main .section3 table tr td a {
          color: #ca0f1c; }
          .main .section3 table tr td a:hover {
            text-decoration: underline; }
        .main .section3 table tr td button {
          margin: 5px auto 0;
          width: 53px;
          height: 19px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          background: #959595;
          color: #fff; }
          .main .section3 table tr td button.guanzhu {
            background: #4c94d7; }
    .main .section3 .fenye {
      width: 100%;
      height: 123px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .main .section3 .fenye .rect {
        width: 38px;
        height: 38px;
        box-sizing: border-box;
        border: 1px solid #e9e9e9;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #999999;
        margin: 3.5px; }
        .main .section3 .fenye .rect:hover, .main .section3 .fenye .rect.active {
          background: #ca0f1c;
          color: #fff;
          cursor: pointer; }

/*# sourceMappingURL=paimaidating.css.map */
