@import "./mixin.scss";

body{
    min-height: 100vh;
    background: #fafafa;
    // min-height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .header,.footer{
        flex-grow: 0;
    }
    .main{
        flex-grow: 1;
    }
}
a:hover{
    cursor: pointer;
    // color: #ff0d1e;
}
// .header{
//     .topbar{
//         height: 80px;
//         background: #fafafa;
//         .cont{
//             margin: 0 auto;
//             width: 1060px;
//             height: 100%;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             .logo{
//                 @include bg-full('i_logo.png');
//                 width: 123px;
//                 height: 46px;
//             }
//             .infos{
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 margin-right: 15px;
//                 .phone{
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     margin-right: 42px;
//                     font-size: 12px;
//                     font-family: "Microsoft YaHei";
//                     color: rgb(102, 102, 102);
//                     b{
//                         font-size: 24px;
//                         font-family: "HiraginoSansGB";
//                         color: rgb(255, 13, 30);
//                     }
                        
//                 }
//                 .item {
//                     margin-right: 20px;
//                     font-size: 12px;
//                     color: rgb(255, 13, 30);
//                 }
//                 .reg {
//                     font-size: 12px;
//                     color: rgb(102, 102, 102);
//                     width: 72px;
//                     display: flex;
//                     justify-content: space-between;
//                 }
                    
//             }
//         }
//     }
//     .tabbar{
//         height: 45px;
//         background: #db000f;
//         .cont{
//             margin: 0 auto;
//             width: 1060px;
//             height: 100%;
//             display:flex;
//             justify-content: center;
//             align-items: center;
//             .item {
//                 height: 100%;
//                 font-size: 16px;
//                 font-family: "Microsoft YaHei";
//                 color: rgb(255, 255, 255);
//                 flex-grow:1;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 &.active,
//                 &:hover{
//                     cursor: pointer;
//                     background: #333333;
//                 }
//             }
              
//         }
//     }
// }
.header{
    width: 100%;
    .topbar{
        height: 80px;
        background: #fafafa;
        .cont{
            margin: 0 auto;
            width: 1060px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                @include bg-full('i_logo.png');
                width: 123px;
                height: 46px;
            }
            .infos{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                .phone{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 42px;
                    font-size: 12px;
                    font-family: "Microsoft YaHei";
                    color: rgb(102, 102, 102);
                    b{
                        font-size: 24px;
                        font-family: "HiraginoSansGB";
                        color: rgb(255, 13, 30);
                    }
                        
                }
                .item {
                    margin-right: 20px;
                    font-size: 12px;
                    color: rgb(255, 13, 30);
                    &:hover{
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
                .reg {
                    font-size: 12px;
                    color: rgb(102, 102, 102);
                    width: 72px;
                    display: flex;
                    justify-content: space-between;
                    a{
                        &:hover{
                            cursor: pointer;
                            color: rgb(255, 13, 30);
                        }
                    }
                }
                    
            }
        }
    }
    .tabbar{
        height: 45px;
        background: #db000f;
        .cont{
            margin: 0 auto;
            width: 1060px;
            height: 100%;
            display:flex;
            justify-content: center;
            align-items: center;
            .item {
                height: 100%;
                font-size: 16px;
                font-family: "Microsoft YaHei";
                color: rgb(255, 255, 255);
                flex-grow:1;
                display: flex;
                align-items: center;
                justify-content: center;
                &.active,
                &:hover{
                    cursor: pointer;
                    background: #333333;
                }
            }
              
        }
    }
}
.header2{
    width: 100%;
    .topbar{
        height: 80px;
        background: #ca0f1c;
        .cont{
            margin: 0 auto;
            width: 1060px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .navbar{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .logo{
                    @include bg-full('logo2.png');
                    width: 123px;
                    height: 46px;
                    margin-right: 30px;
                }
                .item{
                    width: 101px;
                    margin: 0 15px;
                    height: 33px;
                    border-radius: 5px;
                    background: #ca0f1c;
                    @include flex-c;
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                    &.active,
                    &:hover{
                        background: #fff;
                        color: #ca0f1c;
                    }
                }
            }
            .infos{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                .item {
                    @include flex-c;
                    margin-right: 20px;
                    font-size: 12px;
                    color:#fff;
                    i{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .botbar{
        height: 52px;
        width: 100%;
        background: #f2f2f2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cont{
            margin: 0 auto;
            width: 1060px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .location {
                font-size: 14px;
                color: rgb(102, 102, 102);
                a{
                    color: rgb(102, 102, 102);
                    &:hover{
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
            .search{
                width: 328px;
                height: 33px;
                box-sizing: border-box;
                border: 1px solid #dadada;
                background: #ffffff;
                color: #999999;
                display: flex;
                justify-content: space-between;
                align-items: center;
                input{
                    height: 100%;
                    width: 280px;
                    padding-left: 10px;
                    color: #999999;
                }
                button{
                    color: #ca0f1c;
                    font-size: 28px;
                    margin:0 5px;
                }
            }
        }
    }
}

.footer{
    // height: 273px;
    width: 100%;
    background: #333333;
    color: rgb(153, 153, 153);
    .top{
        width: 1060px;
        margin: 0 auto;
        box-sizing: border-box;
        border-top: 1px solid #2c2c2c;
        border-bottom: 1px solid #2c2c2c;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        
        .column{
            padding: 18px 35px 0;
            .title{
                font-size: 12px;
                color: rgb(255, 255, 255);
                font-weight: bold;
                margin-bottom: 18px;
            }
            a{
                display: block;
                margin-bottom: 6px;
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            margin-bottom: 32px;
        }
        .ewm{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 30px 0 0 135px;
            .foto{
                height: 95px;
                width: 95px;
                @include bg-full('ewm.png');
            }
            .content{
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p {
                    font-size: 14px;
                    color: rgb(255, 255, 255);
                    &.r{
                        color: #bf1f27;
                    }
                    margin-bottom: 8px;
                }
                  
            }
        }
    }
    .bottom{
        height: 100px;
        box-sizing: border-box;
        border-top: 1px solid #3b3b3b;
        border-bottom: 1px solid #3b3b3b;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        a{
            margin-bottom: 6px;
            span{
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
// .footer{
//     // height: 273px;
//     width: 100%;
//     background: #333333;
//     color: rgb(153, 153, 153);
//     .top{
//         width: 1060px;
//         margin: 0 auto;
//         box-sizing: border-box;
//         border-top: 1px solid #2c2c2c;
//         border-bottom: 1px solid #2c2c2c;
//         display: flex;
//         justify-content: flex-start;
//         align-items: flex-start;
        
//         .column{
//             padding: 18px 35px 0;
//             .title{
//                 font-size: 12px;
//                 color: rgb(255, 255, 255);
//                 font-weight: bold;
//                 margin-bottom: 18px;
//             }
//             p{
//                 margin-bottom: 6px;
//             }
//             margin-bottom: 32px;
//         }
//         .ewm{
//             display: flex;
//             justify-content: flex-start;
//             align-items: center;
//             margin: 30px 0 0 55px;
//             .foto{
//                 height: 95px;
//                 width: 95px;
//                 @include bg-full('ewm.png');
//             }
//             .content{
//                 padding: 15px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 flex-direction: column;
//                 p {
//                     font-size: 14px;
//                     color: rgb(255, 255, 255);
//                     &.r{
//                         color: #bf1f27;
//                     }
//                     margin-bottom: 8px;
//                 }
                  
//             }
//         }
//     }
//     .bottom{
//         height: 100px;
//         box-sizing: border-box;
//         border-top: 1px solid #3b3b3b;
//         border-bottom: 1px solid #3b3b3b;
//         font-size: 12px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
        
//         p{
//             margin-bottom: 6px;
//         }
//     }
// }