@import "./mixin.scss";

body{
    background: #fafafa;
}
a:hover{
    cursor: pointer;
    // color: #ff0d1e;
}
.header{
    .topbar{
        height: 80px;
        background: #fafafa;
        .cont{
            margin: 0 auto;
            width: 1060px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                @include bg-full('i_logo.png');
                width: 123px;
                height: 46px;
            }
            .infos{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                .phone{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 42px;
                    font-size: 12px;
                    font-family: "Microsoft YaHei";
                    color: rgb(102, 102, 102);
                    b{
                        font-size: 24px;
                        font-family: "HiraginoSansGB";
                        color: rgb(255, 13, 30);
                    }
                        
                }
                .item {
                    margin-right: 20px;
                    font-size: 12px;
                    color: rgb(255, 13, 30);
                }
                .reg {
                    font-size: 12px;
                    color: rgb(102, 102, 102);
                    width: 72px;
                    display: flex;
                    justify-content: space-between;
                }
                    
            }
        }
    }
    .tabbar{
        height: 45px;
        background: #db000f;
        .cont{
            margin: 0 auto;
            width: 1060px;
            height: 100%;
            display:flex;
            justify-content: center;
            align-items: center;
            .item {
                height: 100%;
                font-size: 16px;
                font-family: "Microsoft YaHei";
                color: rgb(255, 255, 255);
                flex-grow:1;
                display: flex;
                align-items: center;
                justify-content: center;
                &.active,
                &:hover{
                    cursor: pointer;
                    background: #333333;
                }
            }
              
        }
    }
}

.footer{
    // height: 273px;
    width: 100%;
    background: #333333;
    color: rgb(153, 153, 153);
    .top{
        width: 1060px;
        margin: 0 auto;
        box-sizing: border-box;
        border-top: 1px solid #2c2c2c;
        border-bottom: 1px solid #2c2c2c;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        
        .column{
            padding: 18px 35px 0;
            .title{
                font-size: 12px;
                color: rgb(255, 255, 255);
                font-weight: bold;
                margin-bottom: 18px;
            }
            a{
                display: block;
                margin-bottom: 6px;
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            margin-bottom: 32px;
        }
        .ewm{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 30px 0 0 135px;
            .foto{
                height: 95px;
                width: 95px;
                @include bg-full('ewm.png');
            }
            .content{
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p {
                    font-size: 14px;
                    color: rgb(255, 255, 255);
                    &.r{
                        color: #bf1f27;
                    }
                    margin-bottom: 8px;
                }
                  
            }
        }
    }
    .bottom{
        height: 100px;
        box-sizing: border-box;
        border-top: 1px solid #3b3b3b;
        border-bottom: 1px solid #3b3b3b;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        a{
            margin-bottom: 6px;
            span{
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
// .footer{
//     // height: 273px;
//     width: 100%;
//     background: #333333;
//     color: rgb(153, 153, 153);
//     .top{
//         width: 1060px;
//         margin: 0 auto;
//         box-sizing: border-box;
//         border-top: 1px solid #2c2c2c;
//         border-bottom: 1px solid #2c2c2c;
//         display: flex;
//         justify-content: flex-start;
//         align-items: flex-start;
        
//         .column{
//             padding: 18px 35px 0;
//             .title{
//                 font-size: 12px;
//                 color: rgb(255, 255, 255);
//                 font-weight: bold;
//                 margin-bottom: 18px;
//             }
//             p{
//                 margin-bottom: 6px;
//             }
//             margin-bottom: 32px;
//         }
//         .ewm{
//             display: flex;
//             justify-content: flex-start;
//             align-items: center;
//             margin: 30px 0 0 55px;
//             .foto{
//                 height: 95px;
//                 width: 95px;
//                 @include bg-full('ewm.png');
//             }
//             .content{
//                 padding: 15px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 flex-direction: column;
//                 p {
//                     font-size: 14px;
//                     color: rgb(255, 255, 255);
//                     &.r{
//                         color: #bf1f27;
//                     }
//                     margin-bottom: 8px;
//                 }
                  
//             }
//         }
//     }
//     .bottom{
//         height: 100px;
//         box-sizing: border-box;
//         border-top: 1px solid #3b3b3b;
//         border-bottom: 1px solid #3b3b3b;
//         font-size: 12px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
        
//         p{
//             margin-bottom: 6px;
//         }
//     }
// }