@import "./mixin.scss";
.main{
    .section{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 1060px;
        margin: 0 auto;
        .sidebar{
            width: 148px;
            margin-bottom: 60px;
            .cell{
                .item{
                    display: inline-block;
                    width: 100%;
                    height: 34px;
                    font-size: 14px;
                    color: rgb(102, 102, 102);
                    padding-left: 34px;
                    &:hover,
                    &.active{
                        color: #ca0f1c;
                        cursor: pointer;
                    }
                    &.title{
                        position: relative;
                        font-size: 14px;
                        color: rgb(51, 51, 51);
                        font-weight: bold;
                        i{
                            position: absolute;
                            left: 4px;
                            top: -2px;
                            font-size: 24px;                            
                            float: left;
                        }
                    }
                }
            }
        }
        .content{
            width: 874px;
            border: 1px solid #e9e9e9;
            box-sizing: border-box;
            background: #fff;
            padding: 0 14px;
            margin-bottom: 50px;
            .cell{
                width: 100%;
                .zhifu{
                    box-sizing: border-box;
                    border: 1px solid $gray;
                    margin-bottom: 45px;
                    .cards1{
                        margin: 15px 0 30px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .cont{
                            box-sizing: border-box;
                            border: 1px solid #d0d0d0;
                            width: 146px;
                            height: 52px;
                            margin: 5px;
                            &.active,
                            &:hover{
                                // border-color: $red;
                                // background: 
                                @include bg-full('sjx.png');
                                cursor: pointer;
                            }
                            .card{
                                
                            }
                        }
                    }
                    .cards2{
                        margin: 15px 0 30px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .card{
                            box-sizing: border-box;
                            border: 1px solid #e9e9e9;
                            width: 340px;
                            height: 148px;
                            border-radius: 10px;
                            margin: 0 10px;
                            overflow: hidden;
                            .header{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                padding-left: 12px;
                                font-size: 16px;
                                color: rgb(255, 255, 255);
                                font-weight: bold;
                                margin-bottom: 0;
                                border: none;
                                &.gongshang{
                                    background: linear-gradient(to right, #e12971, #fe5133);
                                }
                                &.jianshe{
                                    background: linear-gradient(to right, #0558ff, #3898fc);
                                }
                            }
                            .info{
                                padding: 12px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: flex-start;
                                p{
                                    font-size: 14px;
                                    color: rgb(102, 102, 102);
                                    margin-bottom: 4px;
                                    span{
                                        font-size: 14px;
                                        color: rgb(51, 51, 51);
                                    }
                                }
                            }
                        }
                        .ewm{
                            @include flex-c;
                            flex-direction: column;
                            color: #999999;
                            .cont{
                                width: 150px;
                                height: 150px;
                                box-sizing: border-box;
                                border: 1px solid $gray;
                                font-size: 14px;
                                color: rgb(153, 153, 153);
                                margin-bottom: 8px;
                                @include flex-c;
                                img{
                                    width: 136px;
                                    height: 136px;
                                    border: none;
                                }
                            }
                        }
                    }
                    .form{
                        .line{
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            .title{
                                width: 100px;
                                i{
                                    color: #ff4c73;
                                }
                            }
                            input{
                                width: 340px;
                                height: 42px;
                                box-sizing: border-box;
                                border: 1px solid $gray;
                                padding-left: 10px;
                                font-size: 14px;
                                color: rgb(153, 153, 153);
                            }
                        }
                        button{
                            margin: 15px auto 22px;
                            width: 140px;
                            height: 48px;
                            @include flex-c;
                            background: #ca0f1c;
                            color: #fff;
                            border-radius: 3px;
                            font-size: 16px;
                        }
                    }
                }
                .tixian{
                    box-sizing: border-box;
                    // border: 1px solid $gray;
                    margin-bottom: 45px;
                    .form{
                        .line{
                            display: flex;
                            justify-content: flex-start;
                            align-content: center;
                            align-items: center;
                            label{
                                @include flex-c;
                                margin: 0 14px;
                                .radio{
                                    width: 14px;
                                    height: 14px;
                                    margin-right: 12px;
                                }
                            }
                            .title{
                                width: 260px;
                                padding-right: 10px;
                                text-align: right;
                                i{
                                    color: #ff4c73;
                                }
                            }
                            input{
                                width: 340px;
                                height: 42px;
                                box-sizing: border-box;
                                border: 1px solid $gray;
                                padding-left: 10px;
                                font-size: 14px;
                                color: rgb(153, 153, 153);
                                margin-right: 120px;
                            }
                            select{
                                width: 340px;
                                height: 42px;
                                box-sizing: border-box;
                                border: 1px solid $gray;
                                padding-left: 10px;
                                font-size: 14px;
                                color: rgb(153, 153, 153);
                                margin-right: 120px;
                            }
                            &.center{
                                justify-content: center;
                            }
                            &.khh{
                                label{
                                    margin: 0;
                                    input,select{
                                        width: 126px;
                                        margin: 0;
                                    }
                                    span{
                                        margin: 0 5px;
                                    }
                                }
                            }
                        }
                        button{
                            margin: 20px auto 22px;
                            width: 140px;
                            height: 48px;
                            @include flex-c;
                            background: #ca0f1c;
                            color: #fff;
                            border-radius: 3px;
                            font-size: 16px;
                        }
                    }
                }
                .qianbao{
                    height: 98px;
                    background: #f2f2f2;
                    border: 1px dotted $gray;
                    @include flex-c;
                    .item{
                        height: 54px;
                        flex-grow: 1;
                        border-right: 1px solid $gray;
                        &:last-of-type(1){
                            border: none;
                        }
                        @include flex-c;
                        &.row{
                            flex-direction: row;
                        }
                        &.column{
                            flex-direction: column;
                        }
                        .price{
                            font-size: 22px;
                            color: #999999;
                            &.r{
                                color: rgb(202, 15, 28);
                            }
                        }
                        .title {
                            font-size: 14px;
                            color: rgb(51, 51, 51);
                        }
                        button{
                            width: 65px;
                            height: 29px;
                            @include flex-c;
                            border-radius: 3px;
                            font-size: 14px;
                            color: rgb(255, 255, 255);
                            background: $red;
                            margin: 5px;
                        }  
                    }
                }
                .header{
                    height: 58px;
                    box-sizing: border-box;
                    border-bottom: 1px dotted #d5d5d5;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 15px;
                    color: rgb(51, 51, 51);
                    font-weight: bold;
                    margin-bottom: 14px;
                    i{
                        width: 4px;
                        height: 15px;
                        margin-right: 8px;
                        background: $red;
                    }
                }
                .line{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    align-content: center;
                    margin-bottom: 14px;
                    .item{
                        // height: 30px;
                        width: 260px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        align-content: center;
                        .title{
                            width: 92px;
                            margin-left: 28px;
                            margin-right: 12px;
                            font-size: 14px;
                            color: rgb(153, 153, 153);
                        }
                        .value{
                            &.r{
                                color: $red;
                            }
                            font-size: 14px;
                            color: rgb(51, 51, 51);
                            img{
                                width: 67px;
                                height: 49px;
                            }
                        }
                    }
                }
                .zhifujilu{
                    width: 846px;
                    margin: 20px auto 40px;
                    .form{
                        width: 100%;
                        height: 128px;
                        background: #f2f2f2;
                        box-sizing: border-box;
                        border: 1px solid #e9e9e9;
                        @include flex-c;
                        flex-direction: column;
                        margin-bottom: 10px;
                        .line{
                            height: 42px;
                            width: 100%;
                            margin: 5px 0;
                            // @include flex-c;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            label{
                                // width: 284px;
                                height: 100%;
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                font-size: 14px;
                                color: rgb(153, 153, 153);
                                margin:0 20px;
                                &:nth-child(1){
                                    span{
                                        width: 80px;
                                        text-align: right;
                                    }
                                }
                                span{
                                    // width: 80px;
                                    // margin-left: 2px;
                                    height: 100%;
                                    @include flex-c;
                                }
                                input{
                                    padding: 0 8px;
                                    width: 150px;
                                    height: 100%;
                                    box-sizing: border-box;
                                    border: 1px solid $gray;
                                    background: #fff;
                                    color: #999999;
                                }
                                select{
                                    padding: 0 8px;
                                    width: 166px;
                                    height: 100%;
                                    box-sizing: border-box;
                                    border: 1px solid $gray;
                                    background: #fff;
                                    color: #999999;
                                }
                            }
                            button{
                                height: 100%;
                                width: 110px;
                                border-radius: 3px;
                                background: $red;
                                @include flex-c;
                                color: #fff;
                                font-size: 16px;
                            }
                        }
                    }
                    .cont{
                        width: 100%;
                        box-sizing: border-box;
                        border: 1px solid $gray;
                        padding: 10px 0;
                        @include flex-c;
                        flex-direction: column;
                        .header{
                            width: 830px;
                            height: 39px;
                            margin-bottom: 2px;
                            border: none;
                            .item{
                                width: 110px;
                                height: 100%;
                                box-sizing: border-box;
                                border-bottom: 2px solid transparent;
                                font-size: 14px;
                                font-weight: normal;
                                color: rgb(51, 51, 51);
                                @include flex-c;
                                &.active,
                                &:hover{
                                    cursor: pointer;
                                    color: $red;
                                    border-bottom: 2px solid $red;
                                }
                            }
                        }
                        table{
                            font-size: 12px;
                            color: rgb(102, 102, 102);
                            width: 830px;
                            border: none;
                            tr{
                                height: 30px;
                                th{
                                    border: none;
                                }
                                td{
                                    border: none;
                                    img{
                                        margin: 4px 0;
                                        width: 67px;
                                        height: 49px;
                                    }
                                    &.gray{
                                        color: rgb(153, 153, 153);
                                    }
                                }
                            }
                        }
                    }
                    .fenye{
                        width: 100%;
                        height: 123px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .rect{
                            width: 38px;
                            height: 38px;
                            box-sizing: border-box;
                            border: 1px solid #e9e9e9;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 14px;
                            color: #999999;
                            margin: 3.5px;
                            &:hover,
                            &.active{
                                background: #ca0f1c;
                                color: #fff;
                                cursor: pointer;
                            }
                            i{
                                // color: #cccccc;
                            }
                        }
                    }
                }
                table{
                    width: 100%;
                    border: 1px solid $gray;
                    margin-bottom: 35px;
                    border-collapse:collapse;
                    
                    &.lishijilu{
                        tr{
                            
                            td{
                                width: 25%;
                            }
                        }
                    }
                    tr{
                        &:hover{
                            cursor: pointer;
                            
                            background: rgba(233,233,233,.5);
                        }
                        height: 33px;
                        th{
                            background: #e9e9e9;
                            // max-width: 200px;
                        }
                        td{
                            text-align: center;
                            // max-width: 0px;
                            // width: 25%;
                            border: 1px solid $gray;
                            &.b{color: #167fd0;}
                            &.r{color: #ca0f1c;}
                            &.g{color: #12922a;}
                        }
                    }
                }
                .gerenziliao{
                    width: 846px;
                    margin: 20px auto 40px;
                    .line{
                        height: 34px;
                        &.idcard{
                            height: 172px;
                        }
                        .title{
                            text-align: right;
                            width: 122px;
                            font-size: 15px;
                            color: rgb(153, 153, 153);
                        }
                        .val{
                            margin-left: 16px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            font-size: 14px;
                            color: rgb(51, 51, 51);
                              
                            &.r{
                                color: $red;
                            }
                            .cont{
                                width: 264px;
                                height: 172px;
                                @include flex-c;
                                flex-direction: column;
                                margin-left: 2px;
                                background: #f3f4f6;
                                margin-right: 20px;
                                i{
                                    font-size: 92px;
                                    color: #eaeaea;
                                }
                                button{
                                    @include flex-c;
                                    background: #4c94d7;
                                    font-size: 14px;
                                    color: rgb(255, 255, 255);
                                    border-radius: 3px;
                                    width: 88px;
                                    height: 28px;
                                }
                                img{
                                    width: 264px;
                                    height: 172px;
                                }
                            }
                            button{
                                width: 62px;
                                height: 23px;
                                border-radius: 3px;
                                background: $red;
                                @include flex-c;
                                color: #fff;
                                font-size: 12px;
                                margin: 0 18px;
                            }
                        }
                        &.juzhudi{
                            flex-wrap: wrap;
                            height: 95px;
                            margin-bottom: 10px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            // flex-wrap: wrap;
                            .cont{

                                width: 640px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-wrap: wrap;
                                input,select{
                                    margin-bottom: 10px;
                                    height: 40px;
                                    padding-left: 8px;
                                    margin-left: 16px;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    font-size: 14px;
                                    color: rgb(51, 51, 51);
                                    box-sizing: border-box;
                                    border: 1px solid $gray;
                                    background: #fff;
                                    &.short{
                                        width: 300px;
                                    }
                                    &.mid{
                                        width: 464px;
                                    }
                                    &.long{
                                        width: 620px;
                                    }
                                }
                            }
                        }
                        input,select{
                            height: 40px;
                            padding-left: 8px;
                            margin-left: 16px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            font-size: 14px;
                            color: rgb(51, 51, 51);
                            box-sizing: border-box;
                            border: 1px solid $gray;
                            background: #fff;
                            &.short{
                                width: 300px;
                            }
                            &.mid{
                                width: 464px;
                            }
                            &.long{
                                width: 620px;
                            }
                        }
                    }
                    button{
                        margin: 30px auto;
                        width: 140px;
                        @include flex-c;
                        height: 48px;
                        font-size: 16px;
                        background: $red;
                        border-radius: 4px;
                        color: rgb(255, 255, 255);
                    }
                }
                .article{
                    @include flex-c;
                    flex-direction: column;
                    .title{
                        @include flex-c;
                        flex-direction: column;
                        width: 100%;
                        height: 110px;
                        h2 {
                            font-size: 22px;
                            color: rgb(51, 51, 51);
                            margin-bottom: 5px;
                            font-weight: normal;
                        }
                        span{
                            font-size: 12px;
                            color: rgb(153, 153, 153);
                        }
                    }
                    .ques{
                        width: 100;
                        padding: 0 34px;
                        margin-bottom: 25px;
                        p{
                            margin-bottom: 8px;
                            line-height: 1.5;
                        }
                        .res {
                            font-size: 14px;
                            color: rgb(51, 51, 51);
                            font-weight: bold;
                        }
                        .ans{
                            font-size: 14px;
                            color: #666666;
                        }
                    }
                }
            }
        }
    }
}