@import "./mixin.scss";

.main{
    .lunbo{
        width: 100%;
        height: 369px;
        @include bg-full('hyfw_banner.jpg');
    }
    .navbar{
        margin: 0 auto;
        width: 1060px;
        height: 121px;
        background: #f4f4f4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .item{
            box-sizing: border-box;
            padding: 15px;
            height: 100%;
            width: 25%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .logo{
                margin-right:16px;
                width: 70px;
                height: 70px;
                box-sizing: border-box;
                border: 2px solid #ca0f1c;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink:0;//不许压缩
                i{
                    font-size: 44px;
                    color: #ca0f1c;
                }
            }
            .info{
                // padding: 15px;
                // height: 100%;
                .title {
                    font-size: 14px;
                    color: rgb(51, 51, 51);
                    font-weight: bold;
                    text-transform: uppercase;
                }
                p {
                    font-size: 12px;
                    color: rgb(102, 102, 102);
                }
                  
            }
            
        }
    }
    .section{
        .title{
            width: 100%;
            height: 161px;
            @include flex-c;
            .banner{
                @include bg-full('huiyuanfuwu_title.png');
                width: 277px;
                height: 62px;
            }
        }
        .content{
            margin: 0 auto;
            width: 1060px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 247px;
                height: 310px;
                font-size: 30px;
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                line-height: 1.2;
                i{
                    font-size: 72px;
                }
                &:nth-of-type(1){
                    @include bg-full('hyfw_05.jpg');
                }
                &:nth-of-type(2){
                    @include bg-full('hyfw_07.jpg');
                }
                &:nth-of-type(3){
                    @include bg-full('hyfw_09.jpg');
                }
                &:nth-of-type(4){
                    @include bg-full('hyfw_11.jpg');
                }
            }
        }
        .cont{
            margin: 0 auto;
            height: 413px;
            width: 1060px;
            overflow: hidden;
            position: relative;
            .phone{
                @include bg-full('sj.png');
                width: 453px;
                height: 463px;
                @include p-a-bl(-100,45);
            }
            .ewm{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                @include p-a-bl(115,635);
                .foto{
                    @include bg-full('ewm2.png');
                    width: 150px;
                    height: 150px;
                    position: relative;
                    margin-right: 20px;
                    span {
                        font-size: 16px;
                        color: rgb(51, 51, 51);
                        position: absolute;
                        bottom: -20px;
                        width: 100%;
                        text-align: center;
                    }
                      
                }
                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    color: rgb(51, 51, 51);
                    font-size: 16px;
                    .name{
                        font-size: 40px;
                        font-weight: bold;

                    }
                }
            }
        }
    }
}