@import "./mixin.scss";

body{
    background: #fafafa;
}
.header{
    .topbar{
        height: 80px;
        background: #fafafa;
        .cont{
            margin: 0 auto;
            width: 1060px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                @include bg-full('i_logo.png');
                width: 123px;
                height: 46px;
            }
            .infos{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                .phone{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 42px;
                    font-size: 12px;
                    font-family: "Microsoft YaHei";
                    color: rgb(102, 102, 102);
                    b{
                        font-size: 24px;
                        font-family: "HiraginoSansGB";
                        color: rgb(255, 13, 30);
                    }
                        
                }
                .item {
                    margin-right: 20px;
                    font-size: 12px;
                    color: rgb(255, 13, 30);
                    &:hover{
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
                .reg {
                    font-size: 12px;
                    color: rgb(102, 102, 102);
                    width: 72px;
                    display: flex;
                    justify-content: space-between;
                    a{
                        &:hover{
                            cursor: pointer;
                            color: rgb(255, 13, 30);
                        }
                    }
                }
                    
            }
        }
    }
    .tabbar{
        height: 45px;
        background: #db000f;
        .cont{
            margin: 0 auto;
            width: 1060px;
            height: 100%;
            display:flex;
            justify-content: center;
            align-items: center;
            .item {
                height: 100%;
                font-size: 16px;
                font-family: "Microsoft YaHei";
                color: rgb(255, 255, 255);
                flex-grow:1;
                display: flex;
                align-items: center;
                justify-content: center;
                &.active,
                &:hover{
                    cursor: pointer;
                    background: #333333;
                }
            }
              
        }
    }
}
.main{
    .lunbo{
        height: 593px;
        position: relative;
        .cont{
            width: 100%;
            height: 100%;
            .img{
                width: 100%;
                height: 100%;
                @include bg-fullc('banner.jpg');
            }
        }
        .btns1{
            z-index: 10;
            position: absolute;
            bottom:15px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn{
                background: rgba(255,255,255,.5);
                margin: 5px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                &.active,
                &:hover{
                    cursor: pointer;
                    background: #fff;
                }
            }
        }
    }
    .section1{
        width: 1060px;
        margin: 40px auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .content{
            // height: 550.5px;
            width: 790px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .title{
                width: 687px;
                height: 61px;
                @include bg-full('zuixin_title.png');
                margin-bottom: 44px;
            }
            .infos{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                align-content: flex-start;
                height: 325px;
                .info{
                    width: 245px;
                    height: 295px;
                    box-sizing: border-box;
                    border: 1px solid #dbdbdb;
                    background: #fff;
                    // border: 2px solid #ff2635;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    flex-shrink: 0;
                    &:hover,
                    &.active{
                        cursor: pointer;
                        border: 2px solid #ff2635;
                    }
                    &:nth-of-type(2){
                        // margin-top: 40px;
                        align-self: flex-end;
                    }
                    .foto{
                        width: 220px;
                        height: 172px;
                        // @include bg-full('p1.jpg');
                    }
                    .content {
                        width: 220px;
                        font-size: 14px;
                        color: rgb(51, 51, 51);
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    .date {
                        width: 220px;
                        font-size: 14px;
                        color: rgb(255, 13, 30);
                    }
                      
                }
            }
            .btn{
                @include flex-c;
                margin-top: 34px;
                height: 37.5px;
                width: 160px;
                border-radius: 18.5px;
                background: #ff0d1e;
                font-size: 14px;
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                &:hover{
                    background: rgba(255,13,30,.8);
                }
            }
        }
        .sidebar{
            width: 250px;
            height: 500.5px;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            .banner{
                box-sizing: border-box;
                border: 1px solid #e0e0e0;
                width: 100%;
                padding: 10px;
                background: #fff;
                margin-bottom: 13px;
                .title{
                    display:flex;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    .name {
                        i{
                            display: inline-block;
                            width: 3px;
                            height: 15px;
                            margin-right: 9px;
                            background: #ff0f20;
                        }
                        font-size: 16px;
                        color: rgb(51, 51, 51);
                        font-weight: bold;
                    }
                    .more {
                        font-size: 12px;
                        color: rgb(153, 153, 153);
                        &:hover{
                            cursor: pointer;
                            color: #ff0f20;
                        }
                    }
                      
                }
                .line{
                    white-space: nowrap;
                    display:flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 14px;
                    color: rgb(51, 51, 51);
                    // font-weight: bold;
                    margin-bottom: 14px;
                    &:hover{
                        cursor: pointer;
                        color: #ff0d1e;
                    }
                    i{
                        display: inline-block;
                        margin-right: 9px;
                        background: #ff0d1e;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                    }
                      
                }
                .btns{
                    display: flex;
                    justify-content: space-around;
                    align-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    .btn{
                        width: 106px;
                        height: 59px;
                        box-sizing: border-box;
                        border: 1px solid #d6d6d6;
                        background: #eaeaea;
                        @include flex-c;
                        flex-direction: column;
                        margin-bottom: 10px;
                        font-size: 14px;
                        color: #666666;
                        i{
                            font-size: 24px;
                        }
                        &.active,
                        &:hover{
                            color: rgb(255, 13, 30);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .belt{
        width: 100%;
        height: 219px;
        background: url('../img/tj_bg.jpg') repeat 0 0/100% 100%;
        .cont{
            margin: 0 auto;
            height: 100%;
            width: 1060px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .card{
                margin-right: 62px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 196px;
                height: 139px;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                border-top-left-radius: 8px;
                box-sizing: border-box;
                border: 1px solid #fff;
                padding: 13px;
                .title {
                    font-size: 24px;
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                }
                p {
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                }
                .btn{
                    width: 108px;
                    height: 30px;
                    box-sizing: border-box;
                    border: 1px solid #fff;
                    font-size: 12px;
                    color: rgb(255, 255, 255);
                    align-self: flex-end;
                    @include flex-c;
                    &:hover{
                        cursor: pointer;
                        background: rgba(255,255,255,.1);
                    }
                }
            }
            .content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 791px;
                .btn{
                    width: 57px;
                    height: 39px;
                    &:hover{
                        cursor: pointer;
                    }
                    &.l{
                        @include bg-full('tj_left.png');
                    }
                    &.r{
                        @include bg-full('tj_right.png');
                    }
                }
                .item{
                    position: relative;
                    width: 133px;
                    height: 135px;
                    color: rgb(255, 255, 255);
                    // @include bg-full('p4.jpg');
                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 0;
                    }
                    .cont{
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,.5);
                        z-index: 5;
                        &:hover{
                            cursor: pointer;
                            background: rgba(0,0,0,.2);
                        }
                        .name{
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 5px;
                            z-index: 1;
                        }
                        .price{
                            z-index: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            span{
                                width: 40px;
                                height: 18px;
                                @include flex-c;
                                font-size: 12px;
                                border-radius: 4px;
                                background: #ff0d1e;
                            }
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .section2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 1060px;
        margin: 44px auto;
        .title{
            @include bg-full('chengjiao_title.png');
            width: 931px;
            height: 65px;
            margin-bottom: 62px;
        }
        .infos{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            .info{
                margin-bottom: 15px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 192px;
                width: 516px;
                color: rgb(51, 51, 51);
                box-sizing: border-box;
                border: 1px solid #dcdcdc;
                &:hover{
                    cursor: pointer;
                    box-shadow: 0 0 8px 0 rgba(0,0,0,.4);
                }
                .foto{
                    height: 100%;
                    width: 266px;
                    // @include bg-full('p8.jpg');
                }
                .content{
                    box-sizing: border-box;
                    height: 100%;
                    padding: 16px 20px;
                    .name {
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                    }
                    p {
                        font-size: 12px;
                        text-transform: uppercase;
                        margin-bottom: 4px;
                        // @include flex-c;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        span{
                            // padding: 0px 4px;
                            // width: 40px;
                            height: 18px;
                            @include flex-c;
                            border-radius: 3px;
                            color: #fff;
                            &.r{
                                width: 28px;
                                background: #ff0d1e;
                            }
                            &.g{
                                width: 28px;
                                background: #5bba22;
                            }
                            &.price{
                                font-size: 20px;
                                color: rgb(255, 13, 30);
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                        }
                    }
                      
                }
            }
        }
        .btn{
            @include flex-c;
            margin-top: 34px;
            height: 37.5px;
            width: 160px;
            border-radius: 18.5px;
            background: #ff0d1e;
            font-size: 14px;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            &:hover{
                background: rgba(255,13,30,.8);
            }
        }
    }
}
.footer{
    // height: 273px;
    width: 100%;
    background: #333333;
    color: rgb(153, 153, 153);
    .top{
        width: 1060px;
        margin: 0 auto;
        box-sizing: border-box;
        border-top: 1px solid #2c2c2c;
        border-bottom: 1px solid #2c2c2c;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        
        .column{
            padding: 18px 35px 0;
            .title{
                font-size: 12px;
                color: rgb(255, 255, 255);
                font-weight: bold;
                margin-bottom: 18px;
            }
            a{
                display: block;
                margin-bottom: 6px;
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            margin-bottom: 32px;
        }
        .ewm{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 30px 0 0 135px;
            .foto{
                height: 95px;
                width: 95px;
                @include bg-full('ewm.png');
            }
            .content{
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p {
                    font-size: 14px;
                    color: rgb(255, 255, 255);
                    &.r{
                        color: #bf1f27;
                    }
                    margin-bottom: 8px;
                }
                  
            }
        }
    }
    .bottom{
        height: 100px;
        box-sizing: border-box;
        border-top: 1px solid #3b3b3b;
        border-bottom: 1px solid #3b3b3b;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        a{
            margin-bottom: 6px;
            span{
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}