@import "./mixin.scss";

body{
    background: #fafafa;
}
.belt{
    width: 100%;
    height: 148px;
    @include bg-full('tu_02.jpg');
}
.main{
    margin: 0 auto;
    width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px; 
    .sidebar{
        width: 209px;
        .title{
            width: 100%;
            height: 91px;
            @include bg-full('newscenter_title.png');
        }
        .item{
            border-top: 1px solid #fafafa;
            height: 60px;
            width: 100%;
            background: #dddddd;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .name {
                font-size: 14px;
                color: rgb(51, 51, 51);
                text-align: center;
                margin-left: 32px;
            }
            span{
                font-size: 34px;
                color: #c7c7c7;
                margin-right: 12px;
            }
            &.active,
            &:hover{
                background: #a1a1a1;
                cursor: pointer;
                .name{
                    color: #fff;
                }
                span{
                    color: #fff;
                }
            }
        }
    }
    .content{
        width: 827px;
        .top{
            width: 100%;
            height: 27px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            span {
                font-size: 14px;
                color: rgb(102, 102, 102);
            }
        }
        .infos{
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #e9e9e9;
            padding: 0 13px;
            background: #fff;
            margin-bottom: 44px;
            .info{
                width: 100%;
                height: 125px;
                border-bottom: 1px dotted #dddddd;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                &:nth-last-of-type(1){
                    border: none;
                }
                .date{
                    width: 108px;
                    height: 91px;
                    box-sizing: border-box;
                    border: 1px solid #e2e2e2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-right: 25px;
                    flex-shrink: 0;
                    .year {
                        font-size: 18px;
                        color: rgb(164, 163, 163);
                        margin-bottom: 2px;
                    }
                    .day {
                        font-size: 28px;
                        color: rgb(51, 51, 51);
                        font-weight: bold;
                    }
                      
                }
                .cont{
                    height: 91px;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    .top {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        i{
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: #e72331;
                            margin-right: 14px;
                        }
                        font-size: 18px;
                        color: rgb(51, 51, 51);
                    }
                    p {
                        font-size: 14px;
                        color: rgb(153, 153, 153);
                    }
                }
            }
            .fenye{
                width: 100%;
                height: 123px;
                display: flex;
                justify-content: center;
                align-items: center;
                .rect{
                    width: 38px;
                    height: 38px;
                    box-sizing: border-box;
                    border: 1px solid #e9e9e9;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    color: #999999;
                    margin: 3.5px;
                    &:hover,
                    &:active{
                        background: #ca0f1c;
                        color: #fff;
                        cursor: pointer;
                    }
                    i{
                        // color: #cccccc;
                    }
                }
            }
        }
    }
}