@import "./mixin.scss";

.main{
    padding: 16px 0;
    .section1{
        margin: 0 auto 20px;
        width: 1060px;
        padding: 12px 0;
        border: 1px solid #e9e9e9;
        box-sizing: border-box;
        background: #ffffff;
        .line{
            height: 21px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;
            &:nth-last-child(1){
                margin-bottom: 0;
            }
            &.spaceb{
                justify-content: space-between;
                .cont{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
            }
            .title{
                text-align: right;
                height: 100%;
                margin-left: 18px;
                margin-right: 5px;
                width: 70px;
                font-size: 14px;
                color: rgb(153, 153, 153);
            }
            .item{
                height: 100%;
                // width: 40px;
                padding: 0 6px;
                margin: 0 6px;
                font-size: 13px;
                color: rgb(51, 51, 51);
                border-radius: 3px;
                @include flex-c;
                &.active,
                &:hover{
                    cursor: pointer;
                    background: #ca0f1c;
                    color: #fff;
                }
            }
            .more{
                width: 75px;
                font-size: 12px;
                color: rgb(153, 153, 153);
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 15px;
                &:hover{
                    cursor: pointer;
                    color: $red;
                }
            }
            .wrap{
                width: 80px;
                height: 28px;
                box-sizing: border-box;
                border: 1px solid $gray;
                font-size: 12px;
                color: rgb(51, 51, 51);
                display:flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 5px;
                padding: 3px;
                input{
                    margin-left: 2px;
                    width: 50px;
                    height: 100%;
                }
            }
            button{
                width: 53px;
                height: 28px;
                background: $red;
                @include flex-c;
                color: #fff;
            }
        }
    }
    .section2{
        margin: 0 auto 20px;
        width: 1060px;
        padding: 0 16px;
        border: 1px solid #e9e9e9;
        box-sizing: border-box;
        background: #ffffff;
        .title{
            // @include flex-c;
            height: 48px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            color: rgb(51, 51, 51);
            font-weight: bold;
            i{
                margin-right: 6px;
                height: 15px;
                width: 4px;
                background: #ca0f1c;
            }
        }
        table{
            width: 100%;
            border-collapse: collapse;
            tr{
                &:hover{
                    background: rgba(233,233,233,.5);
                    cursor: pointer;
                }
                th{
                    // @include flex-c;
                    height: 27px;
                    background: #e9e9e9;
                    margin-bottom: 10px;
                    font-weight: normal;
                    .r{
                        color: $red;
                    }
                }
                td{
                    // @include flex-c;
                    &.b{
                        color: #167fd0;
                    }
                    &.r{
                        color: $red;
                    }
                    height: 49px;
                    margin-bottom: 10px;
                    text-align: center;
                    img{
                        // width: 100%;
                        width: 65px;
                        height: 100%;
                        // width: 30px;
                        // height: 20px;
                    }
                   
                }
            }
        }
    }
    .section3{
        margin: 0 auto 20px;
        width: 1060px;
        padding: 0 16px;
        border: 1px solid #e9e9e9;
        box-sizing: border-box;
        background: #ffffff;
        .title{
            // @include flex-c;
            height: 48px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            color: rgb(51, 51, 51);
            font-weight: bold;
            .item{
                width: 112px;
                height: 100%;
                box-sizing: border-box;
                @include flex-c;
                &.active,
                &:hover{
                    cursor: pointer;
                    color:  #cc1e2a;
                    border-bottom: 2px solid #cc1e2a;
                }
            }
        }
        table{
            width: 100%;
            border-collapse: collapse;
            tr{
                &:hover{
                    background: rgba(233,233,233,.5);
                    cursor: pointer;
                }
                th{
                    // @include flex-c;
                    height: 27px;
                    background: #e9e9e9;
                    margin-bottom: 10px;
                    .r{
                        color: $red;
                    }
                }
                td{
                    // @include flex-c;
                    height: 49px;
                    margin-bottom: 10px;
                    text-align: center;
                    &.b{
                        color: #167fd0;
                    }
                    &.r{
                        color: $red;
                    }
                    img{
                        // width: 100%;
                        width: 65px;
                        height: 100%;
                        // width: 30px;
                        // height: 20px;
                    }
                    a{
                        color: $red;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    button{
                        margin: 5px auto 0;
                        width: 53px;
                        height: 19px;
                        @include flex-c;
                        font-size: 12px;
                        background: #959595;
                        color: #fff;
                        &.guanzhu{
                            background: #4c94d7;
                        }
                    }
                }
            }
        }
        .fenye{
            width: 100%;
            height: 123px;
            display: flex;
            justify-content: center;
            align-items: center;
            .rect{
                width: 38px;
                height: 38px;
                box-sizing: border-box;
                border: 1px solid #e9e9e9;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: #999999;
                margin: 3.5px;
                &:hover,
                &.active{
                    background: #ca0f1c;
                    color: #fff;
                    cursor: pointer;
                }
                i{
                    // color: #cccccc;
                }
            }
        }
    }
}