@import "./mixin.scss";

.main{
    padding: 16px 0;
    .tanchuang{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,.3);
        .banner{
            width: 788px;
            height: 620px;
            border: 4px solid rgba(0,0,0,.4);
            margin: 280px auto 0;
            background: #fff;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            .top{
                padding: 0 15px;
                width: 100%;
                height: 40px;
                box-sizing: border-box;
                border-bottom: 1px solid $gray;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #eeeeee;
                flex-grow: 0;
                i{
                    font-size: 20px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .cont{
                width: 100%;
                // height: 100%;
                // padding: 6px;
                @include flex-c;
                flex-direction: column;
                flex-grow: 1;
                .text{
                    flex-grow: 1;
                    margin: 6px auto;
                    width: 776px;
                    height: 100%;
                    box-sizing: border-box;
                    border: 1px solid $gray;
                    font-size: 14px;
                    color: rgb(102, 102, 102);
                    padding: 15px;
                    p{
                        margin-bottom: 18px;
                    }
                }
            }
            button{
                flex-grow: 0;
                width: 128px;
                height: 42px;
                border-radius: 4px;
                background: $red;
                color: #fff;
                @include flex-c;
                font-size: 16px;
                margin: 16px auto;
            }
        }
    }
    .sidebar{
        position: fixed;
        left: 0;
        top: 50%;
        transform: translate3d(0,-50%,0);
        height: 558px;
        width: 222px;
        background: #f4f4f4;
        box-sizing: border-box;
        border: 1px solid $gray;
        z-index: 11;
        transition: all .5s;
        &.hide{
            width: 0;
        }
        .content{
            height: 558px;
            width: 100%;
            overflow: hidden;
            .cl{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .btn{
                    margin: 3px auto;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        cursor: pointer;
                        color: $red;
                    }
                }
                .scrollText{
                    overflow: hidden;
                    width: 100%;
                    // height: 100%;
                    height: 498px;
                    ul{
                        z-index: 1;
                        // width: 100%;
                        // height: 100%;
                        height: 518px;
                        width: 222px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        li{
                            flex-shrink: 0;
                            background: #ffffff;
                            width: 204px;
                            height: 75px;
                            box-sizing: border-box;
                            border: 1px solid $gray;
                            margin-bottom: 9px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .foto{
                                margin-left: 7px;
                                width: 72px;
                                height: 56px;
                            }
                            .content{
                                width: 116px;
                                height: 56px;
                                padding: 6px;
                                font-size: 14px;
                                color: rgb(51, 51, 51);
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
        button{
            height: 148px;
            width: 37px;
            position: absolute;
            right: -37px;
            top: 259px;
            transform: translate3d(0,-70px,0);
            background: $red;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 14px;
            color: rgb(255, 255, 255);
            padding: 8px 10px;
        }
    }
    .section1{
        margin: 0 auto;
        width: 1060px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 38px;
        .foto{
            width: 452px;
            .img{
                width: 100%;
                height: 452px;
                box-sizing: border-box;
                border: 1px solid #e9e9e9;
                @include bg-full('p9.jpg');
                margin-bottom: 18px;
            }
            .tabbar{
                height: 56px;
                // width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .rollpicshow{
                    // width: 400px;
                    ul{
                        // // width: 100%;
                        // display: flex;
                        // justify-content: space-between;
                        // align-items: center;
                        li{
                            margin:  0 10px;
                            // width: 56px;
                            // height: 56px;
                            &:hover{
                                cursor: pointer;
                            }
                            .item{
                                // list-style-type: none;
                                // width: 100%;
                                // height: 100%;
                                width: 56px;
                                height: 56px;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .jiantou{
                    height: 43px;
                    width: 25px;
                    &.l{
                        @include bg-full('jiantou_l.png');
                    }
                    &.r{
                        @include bg-full('jiantou_r.png');
                    }
                }
            }
        }
        .infos{
            width: 583px;
            height: 526px;
            .title{
                width: 100%;
                height: 38px;
                font-size: 18px;
                color: rgb(51, 51, 51);
                margin-bottom: 10px;
                font-weight: bold;
            }
            .info1{
                height: 28px;
                width: 100%;
                background: #f2f2f2;
                border: 1px dotted #d9d9d9;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                color: rgb(144, 144, 144);
                .r{
                    padding: 0 12px;
                    color: #ca0f1c;
                }
            }
            .info2{
                height: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                color: rgb(102, 102, 102);
            }
            .info3{
                height: 43px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .item{
                    height: 100%;
                    flex-grow: 1;
                    @include flex-c;
                    flex-direction: column;
                    border-right: 2px dotted #d9d9d9;
                    &:nth-last-child(1){
                        border: none;
                    }
                    &.r{
                        color: #ca0f1c;
                        font-weight: bold;
                    }
                }
            }
            .date{
                display: flex;
                height: 55px;
                justify-content: flex-start;
                align-items: center;
                font-size: 12px;
                color: rgb(42, 44, 39);
                span{
                    margin: 2px;
                }
                .num{
                    margin: 1px;
                    border-radius: 2px;
                    padding: 2px 2px;
                    background: #ca0f1c;
                    color: #fff;
                }
                .r{
                    color: #ca0f1c;
                }
            }
            .price{
                display: flex;
                height: 20px;
                justify-content: flex-start;
                align-items: baseline;
                font-size: 14px;
                color: rgb(42, 44, 39);
                line-height: 1.2;
                margin-bottom: 29px;
                span{
                    color: #ca0f1c;
                    font-size: 22px;
                    font-weight: bold;
                }
            }
            .table{
                width: 100%;
                height: 164px !important;
                margin-bottom: 9px;
                flex-grow: 0;
                overflow: auto;
                table{
                    width: 100%;
                    border: 1px solid #e9e9e9;
                    thead{
                        height: 25px;
                        tr{
                            height: 25px;
                            th{
                                background: #f2f2f2;
                            }
                        }
                    }
                    tbody{
                        // display: block;
                        width: 100%;
                        height: 139px !important;
                        // margin-bottom: 9px;
                        flex-grow: 0;
                        overflow: auto;
                        tr{
                            height: 25px;
                            td{
                                text-align: center;
                                // border: 1px solid black;
                            }
                        }
                    }
                   
                }

            }
            .tishi{
                width: 100%;
                @include flex-c;
                height: 18px;
                font-size: 12px;
                color: rgb(202, 15, 28);
            }
            .addprice{
                width: 100%;
                height: 56px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .item{
                    width: 68px;
                    height: 37px;
                    box-sizing: border-box;
                    border: 1px solid #e1e1e1;
                    @include flex-c;
                    background: #ffffff;
                    margin: 3px;
                    border-radius: 3px;
                    &.active,
                    &:hover{
                        cursor: pointer;
                        border: 1px solid #ca0f1c;
                        background: #ca0f1c;
                        color: #fff;
                    }
                }
                .cont{
                    width: 205px;
                    height: 37px;
                    box-sizing: border-box;
                    border: 1px solid #e1e1e1;
                    background: #ffffff;
                    margin: 3px;
                    border-radius: 3px;
                    &.active,
                    &:hover{
                        cursor: pointer;
                        border: 1px solid #ca0f1c;
                        button{
                            background: #ca0f1c;
                            color: #fff;
                        }
                    }
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    input{
                        flex-grow: 1;
                        padding: 0 5px;
                    }
                    button{
                        height: 100%;
                        width: 60px;
                        background: #e1e1e1;
                        color: #fff;
                        &:hover{
                            background: #ca0f1c;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .section2{
        margin: 0 auto;
        width: 1060px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .header{
            width: 100%;
            height: 42px;
            box-sizing: border-box;
            border-bottom: 1px solid #ca0f1c;
            background: #f2f2f2;
            font-size: 14px;
            color: rgb(51, 51, 51);
            font-weight: bold;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .item{
                width: 100px;
                height: 100%;
                @include flex-c;
                &.active,
                &:hover{
                    background: #ca0f1c;
                    color: #fff;
                }
            }
        }
        .title{
            height: 54px;
            padding-left: 12px;
            font-size: 14px;
            color: rgb(51, 51, 51);
            font-weight: bold;
            // text-align: left;
            @include flex-c;
            align-self: flex-start;
        }
        .infos{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .info{
                box-sizing: border-box;
                width: 326px;
                height: 307px;
                background: #f3f3f3;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding: 24px;
                flex-grow: 0;
                .top {
                    height: 44px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 14px;
                    color: rgb(51, 51, 51);
                    font-weight: bold;
                }
                .line{
                    width: 100%;
                    height: 34px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .name{
                        width: 60px;
                        margin-right: 60px;
                        font-size: 14px;
                        color: rgb(51, 51, 51);
                    }
                    font-size: 14px;
                    color: rgb(153, 153, 153);
                }
            }
        }
        .content{
            width: 100%;
            height: 200px;
            background: #fff;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .ele{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .line{
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    span{
                        width: 110px;
                        height: 100%;
                        @include flex-c;
                        font-size: 14px;
                        color: rgb(51, 51, 51);
                        &.value{
                            font-size: 14px;
                            color: rgb(153, 153, 153);
                        }
                        &.wu{
                            color: #ca0f1c !important;
                        }
                    }
                }
            }
        }
        .fotos{
            width: 1060px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            img{
                width: 517px;
                height: 322px;
                margin-bottom: 26px;
            }
        }
    }
}