*{
    margin: 0;
    padding: 0;

}
:focus{
    outline: none;
}
body{
    font-family: "Microsoft YaHei",'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    // overflow-x: hidden;
    // overflow-y: hidden;
    font-size: 16px;
    font-size: 0.16rem;
}
i{
    font-style: normal;
}
a{
    color: rgb(153, 153, 153);
    text-decoration: none;
}
ul li{
    list-style: none;
}
button{
    background: none;
    border: none;
    outline: none;
}
button:focus{
    background: none;
    border: none;
    outline: none;
}
button:hover{
    cursor: pointer;
}
input{
    font-family: "Microsoft YaHei",'Avenir', Helvetica, Arial, sans-serif;
    background: transparent;
    border: none;
    outline: none;
}