@import "./mixin.scss";

body{
    background: #fafafa;
}
.belt{
    width: 100%;
    height: 148px;
    @include bg-full('tu_02.jpg');
}
.main{
    margin: 0 auto;
    width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px; 
    .sidebar{
        width: 209px;
        .title{
            width: 100%;
            height: 91px;
            @include bg-full('xiangguanwenti_title.png');
        }
        .item{
            border-top: 1px solid #fafafa;
            height: 60px;
            width: 100%;
            background: #dddddd;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .name {
                font-size: 14px;
                color: rgb(51, 51, 51);
                text-align: center;
                margin-left: 32px;
            }
            span{
                font-size: 34px;
                color: #c7c7c7;
                margin-right: 12px;
            }
            &.active,
            &:hover{
                background: #a1a1a1;
                cursor: pointer;
                .name{
                    color: #fff;
                }
                span{
                    color: #fff;
                }
            }
        }
    }
    .content{
        width: 827px;
        .top{
            width: 100%;
            height: 27px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            span {
                font-size: 14px;
                color: rgb(102, 102, 102);
            }
        }
        .infos{
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #e9e9e9;
            padding: 0 13px;
            background: #fff;
            margin-bottom: 44px;
            .article{
                padding: 24px 24px 65px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                .title {
                    font-size: 22px;
                    color: rgb(51, 51, 51);
                    margin-bottom: 12px;
                }
                .date {
                    font-size: 12px;
                    color: rgb(153, 153, 153);
                    margin-bottom: 40px;
                }
                p{
                    width: 100%;
                    text-align: left;
                    line-height: 22px;
                    &.question{
                        font-size: 14px;
                        color: rgb(51, 51, 51);
                        font-weight: bold;
                    }
                    &.answer{
                        color: #808080;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}